
h2{
color:orange;
}
ul{
list-style-image: url('check.png');
}
.one{
width:750px;
font-family: cursive;
font-size: 12px;
color:purple;
text-align: justify;
}
.two{
width:750px;
font-family:cursive;
font-size: 12px;
color:purple;
text-align: justify;
}
span{
	margin-left: 75px;
}